<h1>Editing meal</h1>

<% form_for(@meal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date_and_time %><br />
    <%= f.datetime_select :date_and_time %>
  </p>
  <p>
    <%= f.label :price_for_small %><br />
    <%= f.text_field :price_for_small %>
  </p>
  <p>
    <%= f.label :price_for_large %><br />
    <%= f.text_field :price_for_large %>
  </p>
  <p>
    <%= f.label :price_for_special %><br />
    <%= f.text_field :price_for_special %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @meal %> |
<%= link_to 'Back', meals_path %>
