<h1>New temp_email</h1>

<% form_for(@temp_email) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', temp_emails_path %>
